:root {
    --accent-color: #434455;
    --primary-text-color: #2e2f42;
    --background-color: #4d5ae5;
    --letter-spacing: 0.02em;
    --logo-web-color: #4d5ae5;
    --hero-footer-background-color: #2e2f42;
    --portfolio-btn-main-color: #f4f4fd;
    --portfolio-btn-txt-color: #4d5ae5;
    --background-btn-color: #404bbf;
    --hero-footer-background-color: #2e2f42;
    --logo-footer-color: #f4f4fd;
    --text-footer-color: #e7e9fc;
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  body {
    font-family: "Roboto", sans-serif;
    color: var(--accent-color);
    background-color: var(--background-color-primary);
    font-size: 16px;
    line-height: 1.5;
  }
   /*---------HEADER--------*/
  .logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .accent {
    color: var(--logo-web-color);
  }
  .menu-item:hover,
  .menu-item:focus,
  .mail:hover,
  .mail:focus {
    color: var(--background-btn-color);
  }
  .menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .menu-contacts {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  /*---------HERO--------*/
  .team {
    background: #f4f4fd;
  }
  .hero {
    background-color: var(--primary-text-color);
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .modal-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
  }
  .modal-btn:hover,
  .modal-btn:focus {
    background: var(--background-btn-color);
  }
  /*---------FEATURES--------*/
  .suptitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  /*---------PROJECTS--------*/
  .work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  /*---------TEAM--------*/
  .team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .suptitle {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
  }
  .job-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  /*---------FOOTER--------*/
  .footer {
    background-color: var(--hero-footer-background-color);
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-footer-color);
  }
  .text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-footer-color);
    /* CORNFLOWER */
    color: #E7E9FC;
  }
  /*---------PORTFOLIO--------*/
  .portfolio-btn:hover,
  .portfolio-btn:focus {
    background: var(--background-btn-color);
    color: var(--portfolio-btn-hover-text-color);
  }
  .portfolio-btn {
    font-family: "Roboto", sans-serif; 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: var(--portfolio-btn-color);
    color: var(--portfolio-btn-text-color);
  }
  .portfolio-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primari-color);
  }
  .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }